.grid-cell {
    -fx-border-width: 0 0 1 0; /* top right bottom left */
    -fx-border-color: transparent transparent #cccccc transparent;
    -fx-border-style: none none dashed none;
    -fx-padding: 5px;
}

#gridCell00{
    -fx-border-width: 0 0 1 0; /* top right bottom left */
    -fx-border-color: transparent transparent #cccccc transparent;
    -fx-border-style: none none dotted none;
    -fx-padding: 5px;
}